@import '../../styles/variables';

.spaik-info{

  .info-header{
    color: black;
    font-weight: bold;
    font-size: 1.55625rem;
    width: 100%;
    padding: 8px;
  }
}

@media screen and (max-width: 1020px) {
 
}

@media screen and (max-width: 460px) {

}

