.navigation {
  display: inline-flex;

  &__list {
    margin: 0;
    padding: 0 10px;
  }

  &__link {
    list-style-type: none;
    padding: 3px 8px;
    display: inline;

    .link {
      position: relative;
      color: #353535;
      text-transform: none;
      
      &:after {
        content: '';
        position: absolute;
        top: 50%; right: -25px;
        width: 15px;
        height: 2px;
        transition: .25s;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 816px) {    
  .navigation {
    &__link {
      display: block;
    }
  }
}

@media screen and (max-width: 1020px) {    
  .navigation {
    &__link {
      display: block;
    }
  }
}