@import '../../styles/mixins';
@import '../../styles/variables';

.header_main {
  background-color: white;
}
.header_elems {
  position: absolute;
  text-align: center;
  padding: 8px;
}

.header_elems_navigation {
  position: absolute;
  text-align: center;
  padding: 48px;
  min-width: 5%;
}

@media screen and (max-width: 620px) {  
  .header_elems_navigation {
    display: none !important;
  }
}